<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ak45">
  <link name="base_link"/>

  <link name="motor_1_output"/>
  <link name="motor_2_output"/>
  <link name="motor_3_output"/>
  <link name="motor_4_output"/>

  <joint name="motor_1" type="revolute">
    <parent link="base_link"/>
    <child link="motor_1_output"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="24.0" velocity="5.44"/>
  </joint>

  <joint name="motor_2" type="revolute">
    <parent link="base_link"/>
    <child link="motor_2_output"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="24.0" velocity="5.44"/>
  </joint>

  <joint name="motor_3" type="revolute">
    <parent link="base_link"/>
    <child link="motor_3_output"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="24.0" velocity="5.44"/>
  </joint>

  <joint name="motor_4" type="revolute">
    <parent link="base_link"/>
    <child link="motor_4_output"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="24.0" velocity="5.44"/>
  </joint>

  <ros2_control name="ak45_system" type="system">
    <hardware>
      <plugin>cubemars_hardware/CubeMarsSystemHardware</plugin>
      <param name="can_interface">can0</param>
    </hardware>

    <joint name="motor_1">
      <param name="can_id">111</param>
      <param name="pole_pairs">21</param>
      <param name="gear_ratio">9</param>
      <param name="kt">0.198</param>
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>

    <joint name="motor_2">
      <param name="can_id">112</param>
      <param name="pole_pairs">21</param>
      <param name="gear_ratio">9</param>
      <param name="kt">0.198</param>
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>

    <joint name="motor_3">
      <param name="can_id">113</param>
      <param name="pole_pairs">21</param>
      <param name="gear_ratio">9</param>
      <param name="kt">0.198</param>
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>

    <joint name="motor_4">
      <param name="can_id">114</param>
      <param name="pole_pairs">21</param>
      <param name="gear_ratio">9</param>
      <param name="kt">0.198</param>
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>
  </ros2_control>
</robot>